@font-face {
  font-family: Gorditas-Regular;
  src: url("../../fonts/Gorditas-Regular.ttf"); }
@font-face {
  font-family: K2D-ExtraBold;
  src: url("../../fonts/K2D-ExtraBold.ttf"); }
* {
  margin: 0;
  padding: 0; }

img {
  height: auto;
  max-width: 100%; }

html {
  font-size: 16px;
  font-family: K2D-ExtraBold; }

.list-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a4b2e4;
  padding: 4px;
  -webkit-margin-start: 6px;
     -moz-margin-start: 6px;
          margin-inline-start: 6px; }

.list {
  margin-block: 80px; }
  .list h1 {
    font-family: Gorditas-Regular;
    margin-bottom: 64px;
    font-size: 4rem; }
  .list .card {
    border-radius: 64px;
    background: #f0f6ff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    max-height: 84vh;
    overflow: auto;
    scrollbar-color: white; }
    .list .card .card-body {
      padding-block: 42px; }
      .list .card .card-body .item {
        border-radius: 38px;
        padding-block: 8px;
        background-color: #fff;
        margin-inline: 32px;
        padding-inline: 42px;
        margin-bottom: 37px; }
        .list .card .card-body .item:last-child {
          margin-bottom: 0; }
        .list .card .card-body .item p {
          font-family: K2D-ExtraBold;
          font-size: 2rem; }
    .list .card::-webkit-scrollbar {
      background-color: transparent; }
